ace_tools
cftime
geopandas
h5netcdf
iris
matplotlib
netCDF4
nglview==3.0.8
numpy
pandas
Pillow
pydap
pytest
rasterio
Requests
scikit-learn
scipy
shapely
torch
torch_geometric
tqdm
transformers==4.52.4
zarr